<!-- Write the Landing page codes here -->
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

    <title>Home Page</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/Model-images/brand&logo.svg' %}" alt="scalables-logo">
        </div>
        
        <div class="navbar">
            <ul>
                <li><a href="{% url 'home' %}" class="home">Home</a></li>
                <li><a href="#" class="about">About Us</a></li>
                <li><a href="{% url 'faq' %}" class="faq">FAQ</a></li>
                <li><a href="#" class="blog">Blog</a></li>
                <li><a href="{% url 'accounts:contact' %}" class="contact">Contact Us</a></li>
                <li><a href="{% url 'accounts:register' %}" class="register">Register</a></li>
                <li><a href="{% url 'accounts:login' %}" class="login">Login</a></li>
            </ul>
            
        </div>
        
        
    </header>
    


    <nav>
        <div class="hamberger__and__logo">
            <img src="{% static 'images/Landing-images/hamberger.svg' %}" alt="hamberger" class="hamberger_pic">
            <img src="{% static 'images/Model-images/brand&logo.svg' %}" alt="logo" class="logo">

        </div>
        <div class="navbar-mobile">
            <a href="">Popular</a> 
            <a href="">Perfumes</a>
            <a href="">Galaxy s20</a>
            <a href="">Iphone</a>

        </div>

    </nav>

    <div class="container">
        <div class="product-search">
            <form class="card card-sm" action="#">
            <div class="flex-search">
                <h1>Best deal on <br>Price review</h1>
                <p class="search-ptag">Get the best price deal on product you want <br> wherever you are.</p>
                <label for="search-bar"></label>
                <input type="search" id="search-bar" name="product_name" placeholder="search for product">
                <img src="{% static 'images/Landing-images/search-icon.svg' %}" alt="search-icon" class="search-icon" type ="submit">
            </div>
        </form>
        </div>

    </div>
    
<div class="container_1_mobile">
    <img src="{% static 'images/Landing-images/background-search.svg' %}" alt="background-search" class="background-search">
</div>
<div class="h2_mobile">
    Featured Products

</div>

    <h2>Featured Products</h2>
    <div class="container-2">
        
       
    {% for product in products %}
        <a href="{% url 'products:product_detail' product.id %}">
        <!-- <a href="{% url 'products:product_comparison' product.id %}"> -->
            <div class="chanel-product">
                <div class="chanel-img">
                    <!-- <img src="{% static 'images/Landing-images/chanel-product.svg' %}" alt="chanel" class="chanel" width="150px"> -->
                    <p><img src= {{ product.image }}  alt="chanel" class="chanel" width="150px"></p>
                </div>
                <div class="chanel-text">
                    <p class="product-ptag">{{ product.description }}</p>
                    <div class="grey-text">{{ product.name }}</div>
                    <div class="price-text">{{ product.price_amazon}}</div>
                    <div class="price-text">{{ product.price_ebay}}</div>
                    <a href="{% url 'products:product_comparison' product.id %}"><button class="compare-price-btn">compare prices</button></a>
        
                </div>
            </div>
        </a>
            
                    
        
    {% endfor%}

        

    </div>

    <div class="container-3">
        <div class="sub">
        <div class="sub-text">
            Subscribe <br> to our Newsletter

        </div>
        <div class="email-sub">
            <label for="email"></label>
            <input type="email" id="email" name="eamil" placeholder="enter your email">
            <button class="sub-btn">Subscribe</button>

        </div>
        </div>

    </div>
    <div class="container-4">
        <div class="quick-links">
            <h3>Quick Links</h3>
            <ul>
                <li> <a href="{% url 'faq' %}">FAQ / How to use</a></li>
                <li><a href="">Contact Us</a></li>
                <li> <a href="">Blog</a></li>
                <li><a href="Product.html">Product Catagoriess</a></li>

            </ul>

        </div>

        <div class="stores">
            <h3>Stores on Scalables</h3>
            <div class="stores-img">
                <img src="{% static 'images/Landing-images/eBay-Icon.svg' %}" alt="eBay-Icon" class="ebay-icon">
                <img src="{% static 'images/Landing-images/Amazon-Logo.svg' %}" alt="Amazon-Logo" class="amazon">
            </div>

        </div>

        <div class="Follow">
            <h3>Follow Us</h3>
            <div class="social-links">
                <a href="https://www.facebook.com/"><img src="{% static 'images/Landing-images/facebook-pic.svg' %}" alt="facebook" class="social" ></a>
                <a href="https://twitter.com/home"><img src="{% static 'images/Landing-images/twitter-pic.svg' %}" alt="twitter" class="social" ></a>
                <a href="https://www.instagram.com/"><img src="{% static 'images/Landing-images/instagram-pic.svg' %}" alt="instagram" class="social" ></a>

            </div>

        </div>

    </div>

    <div class="mobile_footer">
        <img src="{% static 'images/Landing-images/mobile footer.svg' %}" alt="mobile_disclaimer" class="mobile_disclaimer">
        <img src="{% static 'images/Landing-images/copyright mobile.svg' %}" alt="mobile_copyright" class="mobile_copyright">

    </div>

    <footer>
        <img src="{% static 'images/Landing-images/copyright.svg' %}" alt="copyright" class="copyright">
    </footer>



</body>

</html>
