{% load static %}
<!-- {% block content %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Product.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet"> 
    <title>Product</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./images/product-images/Logo.png">
</head>
<body>
    <div class="wrapper">
    <header>
        <div class="logo">
            <img src="{% static 'images/product-images/brand&logo.png' %}" alt="scalables-logo">
        </div>
        
        <div class="navbar">
            <ul>
                <li><a href="{% url 'home' %}" class="home">Home</a></li>
                <li><a href="#" class="about">About Us</a></li>
                <li><a href="{% url 'faq' %}" class="faq">FAQ</a></li>
                <li><a href="#" class="blog">Blog</a></li>
                <li><a href="Contact.html" class="contact">Contact Us</a></li>
                <li><a href="{% url 'accounts:register' %}" class="register">Register</a></li>
                <li><a href="{% url 'accounts:login' %}" class="login">Login</a></li>
            </ul>
        </div>
        <!-- <div class="register-login">
            <ul>
                <li><a href="Signup.html" class="register">Register</a></li>
                <li><a href="Login.html" class="login">Login</a></li>
            </ul>
        </div> -->
        
    </header>

    <nav>
        <div class="mobile-icons">
            <img src="{% static 'images/product-images/home-icon.svg' %}" alt="home-icon" class="home-icon" id="home-icon-position">
            <img src="{% static 'images/product-images/about-us.svg' %}" alt="about-icon" class="about-icon">
             <!-- <img src="{% static 'images/product-images/faq-icon.svg' %}" alt="faq-icon" class="faq-icon" id="faq-icon-position"> -->
            <img src="{% static 'images/product-images/contact-us.svg' %}" alt="contact-icon" class="contact-icon">
            <img src="{% static 'images/product-images/log-in.svg' %}" alt="login-icon" class="login-icon" id="login-icon-position">
        </div>
        <div class="mobile-text">
            <div id="home-text" class="home-icon-text">Home</div>
            <div id="about-text" class="about-icon-text">About Us</div>
            <div id="faq-text" class="faq-icon-text">FAQ</div>
            <div id="contact-text" class="contact-icon-text">Contact Us</div>
            <div id="login-text" class="login-icon-text">Log In</div>

        </div>
    </nav>
    
    <div class="container">
        
       <div class="main">
            <h1>{{product.name}}</h1>
            <!-- <h2>{{product.name}}</h2> -->

            <div class="product-images"><img src="{{ product.image }}" alt="{{ product.name }}"></div>
            <p>{{ product.description }}.
            </p>
        
           <div class="prices">
            <div class="left">
            <ul>
                <li class="bold amazon">Amazon</li>

            
        <div class="main">
                <h1>{{product.name}}</h1>
                <!-- <h2>{{product.name}}</h2> -->
                <div class="product-images"><img src="{{ product.image }}" alt="{{ product.name }}"></div>
                <p>{{ product.description }}.
                </p>
            
            <div class="prices">
                <div class="left">
                 <ul>
                    <li class="bold amazon">Amazon</li>
                    <li class="price-a">${{ product.price_amazon}}</li>
                 </ul> 
                <button class="btn1">Buy Now</button>
                </div>

                <div class="right">
                    <ul>
                        <li class="bold ebay">ebay</li>
                        <li class="price-e">${{ product.price_ebay}}</li>
                    </ul>
                </div>!-->
                <a href="{% url 'products:product_comparison' product.id %}"> <button class="btn2">compare prices</button></a>
                </div>

        </div>
    

        <div class="social-icons">
            <div class="icons">
                <img src="{% static 'images/product-images/like-icon.svg' %}" alt="thumbs-up-icon" class="like-icon">
                <img src="{% static 'images/product-images/comment-icon.svg' %}" alt="message-square-icon" class="comment-icon">
                <img src="{% static 'images/product-images/share-icon.svg' %}" alt="share-icon" class="share-icon">
            </div>
            <div class="icons-text">
                <div class="like">Like</div>
                <div class="comment">Comment</div>
                <div class="share">Share</div>
            </div>

        </div>

        </div>
    </div>

    <svg id="svg">
        <defs>
          <filter id="colorFilter">
            <feColorMatrix 
              color-interpolation-filters="sRGB"
              type="matrix"
              values="0 0 0 0 0
                      0 0.50 0 0 0
                      0 0 0.50 0 0
                      0 0 0 1 0 "/>
          </filter>
        </defs>
      </svg>
      
</body>
</html>

<!-- {% endblock %} -->


