/* colors */
:root {
  --background: #fcfcfc;
  --pri-t: #180126;
  --sec-t: #b8b4b4;
  --pri-c: #089285;
  --sec-c: #f34213;
  --navb-c: #ebebeb;

  /* typography */
  --font: "Inter", sans-serif;

  /* Web Size */
  /* Big Title */
  --wh1: 37px;

  --wh2: 28px;
  --wh3: 21px;
  /* headings labels links buttons */
  --wh6: 16px;
  /* paragraph text subheadings */
  --wp: 16px;

  /* Mobile Size */
  /* Big Title */
  --mh1: 19px;
  --mh2: 14px;
  --mh3: 12px;
  --mh6: 8px;
  --mp: 8px;
  /* SOON TO COME */
}

/* FAQ */
.qna {
  padding-bottom: 10px;
}
.qna h3 {
  color: var(--sec-t);
}
.img-sec {
  background-image: url("/images/stuff1.png");
  background-size: cover;
  height: 20em;
  background-repeat: no-repeat;
  position: relative;
}
.img-sec img {
  width: 100%;
  align-self: center;
  justify-self: center;
  grid-area: 1/1/2/2;
}
.img-sec h1 {
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Home */

.content-home a {
  border-radius: 20px;
  text-align: center;
  /* font-size: var(--wh3); */
  font-size: 18px;
  color: var(--pri-c);
  background-color: var(--background);
  border: 2px solid var(--pri-c);
  padding: 0.3em 1.5em;
  margin: 0.5em 0em;
}

.home-title {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.anchor-tags {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
/* .y-btn {
  color: var(--pri-c);
  background-color: var(--background);
  border: 2px solid var(--pri-c);
} */
.content a:hover {
  color: var(--background);
  background-color: var(--pri-c);
  border-color: var(--background);
}
/* .lbtn {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
} */
/* .mbtn {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.rbtn {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
} */

/* Footer */
.footer .content {
}
.footer-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.quick-links {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  justify-content: space-between;
}
.quick-links a {
  color: var(--pri-c);
  font-size: var(--wh6);
  font-weight: normal;
  padding: 0.5em 0em;
}
.stores {
  width: 40%;
  text-align: center;
  padding: 1em 0em;
}

.store-text,
.bold-title,
.quick-links {
  font-size: 17px;
}
.ebay {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}
.amazon {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}

.stores img {
  width: 25%;
}
.follow {
  justify-self: end;
  grid-column: 3/4;
  grid-row: 1/2;
}
.social {
  font-size: 30px;
  padding-right: 1em;
}
.email {
}
.email h3 {
}
.email a {
  color: var(--pri-c);
  font-weight: normal;
}
.fab {
  color: var(--pri-c);
}

/* Disclaimer */
.disclaimer .content {
  color: var(--sec-t);
}

/* unspecified */
.bold-title {
  font-weight: bold;
}

.selected {
  color: var(--pri-c);
}

.content {
  padding: 25px 100px;
  /* width: 90%;
  margin: auto; */
}

@media screen and (max-width: 991px) {
  .faq-sec {
    padding-top: 25px;
  }
  .content {
    padding: 25px 50px;
  }
  .img-sec h1 {
    font-size: 20px;
  }
  button {
    height: 2.5rem;
    /* width: 7.5rem; */
    width: 20vw;
    font-size: var(--mh3);
  }
  .footer-items {
    display: block;
  }
  .stores {
    text-align: left;
    width: 100%;
  }
  .anchor-tags {
    flex-direction: column;
  }
}
