{% if likes_list %}
{% for likes in likes_list %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1> Product details</h1> <hr/>
{{ product.name }} - ${{ product.price }}
<br/>
   
{{ product.description }}
<br/><br/>
 
   <div id="likes_count"> {{ likes.total_likes }} Likes </div>
   <div style="text-align: left; margin-top:auto;">
    {% if user.is_authenticated %}
      <a 
      style="font-size:25px;color:{% if user_like %} blue {% else %} black {% endif %};" 
      class="like_icon" id="{{ likes.id }}">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      </a>
      <p id="test"></p>
    {% else %}
      <p> Please login to like the product!</p>
    {% endif %}
  </div>

            
    
    <br/><br/><br/>
    <a href="{% url 'homeview' %}">Back</a>
{% endfor  %}
{% endif  %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// AJAX CALL
$('.like_icon').click(function(){
    $.ajax({
             type: "POST",
             url: "{% url 'like_product' %}",
             data: {'likes_id': $(this).attr('id'),
                    'operation':'like_submit',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
             dataType: "json",
             success: function(response) {
              selector = document.getElementById(response.likes_id);
              document.getElementById('test').innerHTML = response.likes_count + " | " + response.likes_id + " | " + response.user_like
                    if(response.user_like==true){
                      $(selector).css("color","blue");
                    }
                    else if(response.user_like==false){
                      $(selector).css("color","black");
                    }
              document.getElementById('likes_count').innerHTML="Likes: " + response.likes_count;
          }

        });

  })
</script>
    
